.add-new-btn {
    margin-right: 20px;
}

.add-new-up {
    display: block;
}

.up-info {
    float: left;
    height: 180px;
    width: 232px;
    margin-left: 36px;
}

.up-info img {
    height: 80px;
    width: 80px;
}

.echarts-main {
    width: 1080px;
    height: 540px;
    left: 240px;
}

.btn-view {
    text-decoration: none !important;
    color: #FFFFFF
}

.echarts-1 {
    width: 1080px;
    height: 960px;
    margin: 0 auto;
    text-align: center
}