

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="css/animate.min.css"/> <!-- 动画效果 -->
	<link rel="stylesheet" href="css/common.css"/><!-- 页面基本样式 -->
</head>
<body>
<div id="wrapper">
	<div class="box">
		<div class="demo">
			<div class="w50">
				<div class="example">
					<a class="dialog">不显示遮罩</a>
				</div>
			</div>
		</div><!-- demo end -->
		
		<!-- 注意：请将要放入弹框的内容放在比如id="HBox"的容器中，然后将box的值换成该ID即可，比如：$(element).hDialog({'box':'#HBox'}); -->
		<div id="HBox" style="display: none;">
			<form action="" method="post">
				<ul class="list">
					<li>
						<strong>昵 称  <font color="#ff0000">*</font></strong>
						<div class="fl"><input type="text" name="nickname" value="" required class="ipt nickname" /></div>
					</li>
					<li>
						<strong>手 机 <font color="#ff0000">*</font></strong>
						<div class="fl"><input type="text" name="phone" value="" required class="ipt phone" /></div>
					</li>
					<li>
						<strong>邮 箱 <font color="#ff0000">*</font></strong>
						<div class="fl"><input type="text" name="email" value="" required class="ipt email" /></div>
					</li>
					<li>
						<strong>性 别 <font color="#ff0000">&nbsp;</font></strong>
						<div class="fl">
							<label class="mr10"><input type="radio" name="sex" value="1"/>男</label>
							<label class="mr10"><input type="radio" name="sex" value="2"/>女</label>
							<label><input type="radio" name="sex" value="3"/>保密</label>
						</div>
					</li>
					<li>
						<strong>爱 好 <font color="#ff0000">&nbsp;</font></strong>
						<div class="fl">
							<label class="mr10"><input type="checkbox" name="like" value="男" />男</label>
							<label class="mr10"><input type="checkbox" name="like" value="女"/>女</label>
							<label><input type="checkbox" name="like" value="都喜欢"/>都喜欢</label>
						</div>
					</li>
					<li><input type="submit" value="确认提交" class="submitBtn" /></li>
				</ul>
			</form>
		</div><!-- HBox end -->	
	</div><!-- box end -->
</div><!-- wrapper end -->

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.hDialog.min.js"></script>
<script>
$(function(){
	$('.dialog').hDialog();

	//打开效果调用，将动画效果的class放在data-type中即
	//页面加载完成后自动执行
    $('HBox').hDialog({
         box: '#demo',
         boxBg: '#eeeeee',
         width: 500,
         height: 400,
         positions: 'top',
         hideTime: 3000,
         isOverlay: false,
         modalHide: false,
         escHide: false,
         autoShow: false,
         autoHide: false,
         types: 1,
     });

});
</script>
</body>
</html> 