{% extends 'base.html' %}
{% load staticfiles %}


{% block page_title %}
    VIDEO TRACE
{% endblock %}

{% block page_name %}
    VIDEO TRACE
{% endblock %}

{% block link %}
    <link href="{% static 'css/switch.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'layui/css/layui.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Video Trace List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="dataTable_length"><label>Show <select
                                    name="dataTable_length" aria-controls="dataTable"
                                    class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> entries</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <form action="{% url 'add_video' %}" method="post">
                                    {% csrf_token %}
                                    {% for field in  add_form %}
                                        <p class="text-danger"
                                           style="font-size: 1.2em; float: left">{{ field.errors.as_text }}</p>
                                        {{ field }}
                                    {% endfor %}
                                    <input type="submit" value="ADD NEW VIDEO"
                                           class="layui-btn layui-btn-danger col-sm-3
                                           layui-btn-radius layui-btn-sm add-new-btn"
                                    >
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                                   role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        style="width: 120px;">Name
                                    </th>
                                    <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        style="width: 80px;">
                                        Mid
                                    </th>
                                    <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        style="width: 100px;">
                                        Record Time
                                    </th>
                                    <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        style="width: 100px;">
                                        Keep On
                                    </th>
                                    <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        style="width: 80px;">
                                        Mini Mode
                                    </th>
                                    <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        style="width: 80px;">
                                        View
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for video in lists %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">
                                            <img src="static/img/pic/{{ video.pic }}" style="width: 40px" alt="">
                                            <span>{{ video.title }}</span>
                                        </td>
                                        <td>{{ video.aid }}</td>
                                        <td>{{ video.record_time }}</td>
                                        <td>
                                            <div class="" data-control="BOX" id="Box_points_switch">
                                                <label><input class="mui-switch mui-switch-anim" type="checkbox"
                                                              id="switch"></label>
                                            </div>
                                        <td><label><input class="mui-switch mui-switch-anim" type="checkbox"
                                                          id="switch"></label></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <a class='btn-view' href="{% url 'video_data' video.aid %}">&nbsp;View &nbsp;</a>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1
                                to 10 of 100 entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    {# 上一页 #}
                                    {% if page_of_lists.has_previous %}
                                        <li class="paginate_button page-item previous" id="dataTable_previous">
                                            <a href="?page={{ page_of_lists.previous_page_number }}"
                                               aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                                <span aria-hidden="true">Previous</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {# 全部页码 #}
                                    {% for page_num in page_range %}
                                        {% if page_num == page_of_lists.number %}
                                            <li class="paginate_button page-item active">
                                                <a aria-controls="dataTable" class="page-link">
                                                    <span aria-hidden="true">{{ page_num }}</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            {% if page_num == '...' %}
                                                <li>
                                                    <a aria-controls="dataTable" class="page-link">
                                                        <span>{{ page_num }}</span>
                                                    </a></li>
                                            {% else %}
                                                <li>
                                                    <a href="?page={{ page_num }}" aria-controls="dataTable"
                                                       class="page-link">
                                                        {{ page_num }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {# 下一页 #}
                                    {% if page_of_lists.has_next %}
                                        <li class="paginate_button page-item next" id="dataTable_next">
                                            <a href="?page={{ page_of_lists.next_page_number }}"
                                               aria-controls="dataTable" tabindex="0" class="page-link">
                                                <span aria-hidden="true">Next</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}