{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}
    Charts
{% endblock %}

{% block page_name %}
    Charts
{% endblock %}

{% block link %}
    <link href="{% static '/css/my.css' %}">
    <script src="{% static 'js/echarts.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div>
        <div class="up-info">
            <img src="/static/img/faces/{{ up_info.pic }}" alt="">
            <p>{{ up_info.name }}</p>
            {% if up_info.verify == 0 %}
                {{ up_info.verify_reason }}
            {% endif %}
        </div>
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
        <div id="main" class="echarts-main"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            let myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            let option = {
                title: {
                    text: '总播放-粉丝数'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['archive', 'fans']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    axisLabel: {
                        rotate: 30,
                        interval: 0,
                    },
                    axisLine: {
                        lineStyle: {color: 'red'}
                    },
                    boundaryGap: false,
                    data: {{ up_data.trace_time |safe }}
                },
                yAxis: [
                    {
                        name: 'archive',
                        type: 'value',
                        scale: true,
                        axisLabel: {
                            formatter: '{value}'
                        }
                    },
                    {
                        name: 'fans',
                        type: 'value',
                        scale: true,
                        axisLabel: {
                            formatter: '{value}'
                        }
                    }
                ]

                ,
                series: [
                    {
                        name: 'archive',
                        type: 'line',

                        yAxisIndex: 0,
                        smooth: true,
                        data: {{ up_data.archive }}
                    },
                    {
                        name: 'fans',
                        type: 'line',

                        yAxisIndex: 1,
                        smooth: true,
                        data: {{ up_data.fans }}
                    }
                ]
            };


            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}